{% extends 'base.html' %}
{% block body %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Details</title>
</head>
<body>
<!--<form method="POST">-->
<!--    {% csrf_token %}-->
<!--    <input type="text" name="name" placeholder="Enter the name of employee"><br>-->
<!--    <input type="date" name="dob" placeholder="Enter the date of birth"><br>-->
<!--    <input type="text" name="mobileno" placeholder="Enter the mobile number"><br>-->
<!--    <input type="text" name="designation" placeholder="Enter the designation"><br>-->
<!--    <input type="submit">-->
<!--</form>-->
</body>
</html>
{% endblock %}